@import url('../fonts/sailec_font/fonts.css') ;

$primaryfont: 'sailecMedium';
$primaryfont_light: 'sai_light';
$white : white;
$black : black;
$accent-color: #201d5e;

//Reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: black;
}
button{
  border:none;
}

//Global
.btnCont{
  display: flex;
  padding-top: 43px;
}
.PrimaryBtn{
  margin-right: 30px;
  display: block;
  width: 157px;
  height: 49px;
  border-radius: 1px;
  color: $white;
  background-color: #ff8896;
}
.SecondaryBtn{
  display: block;
  width: 157px;
  height: 49px;
  border-radius: 1px;
  color: $white;
  background-color: transparent;
  border: solid 1px #ffffff;
}
//
.App{
  width: 1280px;
  margin: auto;
}
.bg_blue{
  background-image: url('../assets/blueBg.svg');
  height: 794px;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

//HEADER

.header{
  height: 126px;
  display: flex;
  align-items: center;
  font-family: $primaryfont;
  font-size: 14px;
  font-weight: 500;
  color: white;

  .navCont{
    flex: 1;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      li{
        padding-left: 40px;
        a{
          color: $white;
          font-family: $primaryfont;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  .btnCont{
    justify-self: flex-end; 
    .PrimaryBtn{
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}

//Landing Page

.heroCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  .heading{
    padding-top: 67px;
    color: inherit;
    font-family: $primaryfont;
  }
  .sub-heading{
    padding-top: 19px;
    text-align: center;
    width: 808px;
    color: inherit;
    font-family: $primaryfont;
  }
 

  .gridImgCont{
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 1233px;
      height: 459px;
      margin: 64px auto 0;
    }
  }

}

.checkOutCont{
  width: 1280px;
  height: 449px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/Bg_checkout.svg);
 

  h2{
    font-family: $primaryfont ;
    color: $white;
    font-size: 40px;
  }

  h4{
    font-family: $primaryfont_light ;
    color: $white;
    font-size: 20px;
    font-weight: 100;
    opacity: .8;
    padding-top: 32px;
  }

  .btnCont{
    padding-top: 69px;
  }
}
//Footer
.footerCont{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $primaryfont;
  font-size: 14px;
  font-weight: 500;
  color: $accent-color ;
  .logo{
    padding-top: 125px;
    padding-bottom: 46px;
  }
  .icons{
    display: flex;
    width: 104px;
    justify-content: space-between;
    padding-bottom: 45px;
  }
  .links{
    padding-bottom: 62px;
    a{
     margin: 0 30px;
    }
    a:last-child{
      padding-right: 0;
    }
  }
  .cp{
    padding-bottom: 41px;
  }
}
